<!DOCTYPE html>
<html>
    <head>
        <title>Image Captioning</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
        <!--Default Theme-->
        <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css" >
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="../static/css/main.css"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="text/css" rel="stylesheet" href="../static/owl-carousel/owl.carousel.css">
        <link type="text/css" rel="stylesheet" href="../static/owl-carousel/owl.theme.css">
        <link type="text/css" rel="stylesheet" href="../static/owl-carousel/owl.transitions.css">
        
    </head>

    <body>
        <nav>
            <div class="nav-wrapper teal lighten-2 ">
                <a style= "font-size: 17px;">Image</a><a style="font-size: 25px;" href="#" class="brand-logo">Captioning</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#"></a> </li>
                    <li><a href="#"></a></li>
                    <li><a href="#">Repo</a></li>
                </ul>
            </div>
        </nav>
  <div id = "owl-example" class="owl-carousel">
    <div>
        <img src={{image1}} alt="" style="width:25vw;height:228px;">
        <a href="#">{{caption1}}</a>
    </div>
    <div>
        <img src={{image2}} alt="" style="width:25vw;height:228px;">
        <a href="#">{{caption2}}</a>
    </div>
    <div>
        <img src={{image3}} alt="" style="width:25vw;height:228px;">
        <a href="#">{{caption3}}</a>
    </div>
    <div>
        <img src={{image4}} alt="" style="width:25vw;height:228px;">
        <a href="#">{{caption4}}</a>
    </div>
    <div>
        <img src={{image5}} alt="" style="width:25vw;height:228px;">
        <a href="#">{{caption5}}</a>
    </div>
  </div>
        
        
  <footer class="page-footer white">
        <div class="footer-copyright teal lighten-2 ">
            <div class="container">
            &copy; 2017, Kushagra Bhatnagar and Nilay Shrivastava
            </div>
          </div>
        </footer>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../static/js/materialize.min.js"></script>
        <script type="text/javascript" src="../static/owl-carousel/owl.carousel.js"></script>
        <script type="text/javascript" src="../static/js/index.js"></script>
    </body>
  </html>